@import url('./../css/fonts.css');
*{
	font-family: 'OpenSans-Regular';
	padding: 0;
	margin: 0;	
	font-size: 14px;
	list-style-type: none;
	text-decoration: none;
	outline: none;
	font-style: normal;
	font-weight: normal;

}
input{
	border: 1px solid #d8d8d8;
}
select, input, textarea, button{
	outline: none;
}
button{ 
	cursor: pointer;
}
.container{
	width: 1160px;
	margin: 0 auto;
}
.irs--flat .irs-handle>i:first-child{
	width: 18px;
	background-color: #cb0506;
}
.irs--flat .irs-line{
	height: 3px;
	background-color: #d7d1c1;
}
.irs--flat .irs-bar{
	height: 3px;
	background-color: #cb0506; 
}
.irs--flat .irs-handle>i:first-child{
	top: -4px;
}
.irs{
	width: 95%;
    margin: 0 auto;
}

header{
	background: #ecdfbc;
	padding: 11px 0;
}
.header-content{
	display: flex;
	justify-content: space-between;
}
.header-left-name-bold{
	font-weight: bold;
}
.header-right-link{
	color: #000;
	font-weight: bold;
	text-decoration: underline;
	margin-left: 60px;
}
.header-right-link:first-child{
	margin-left: 0px;
}
.header-right-link:hover{
	text-decoration: none;
}

#banners.no-auth{
	border-top: 5px solid #cfb878;
}
#banners{
	position: relative;
	padding: 50px 0 0;
}
#banners:before{
	content: "";
    position: absolute;
    width: 34px;
    height: 24px;
    background-image: url(../img/icons-2.png);
    background-repeat: no-repeat;
    background-position: -124px -8px;
    background-size: 157px;
    top: 0;
    left: 0;
}
#banners:after{
	content: "";
    position: absolute;
    width: 34px;
    height: 24px;
    background-image: url(../img/icons-2.png);
    background-repeat: no-repeat;
    background-position: -116px -47px;
    background-size: 157px;
    top: 0;
    right: 0;
}
.banners-img-text.first{
	width: 81%;
	display: block;
	margin: 0px auto 50px;
}
.banners-img-text.second{
	width: 100%;
	display: block;
	margin: 0 auto 42px;
}
#steps{
	margin-bottom: 36px;
}
.steps-content{
	display: flex;
	justify-content: space-between;
}
.steps-item{
	position: relative;
	margin-left: 40px;
}
.steps-item.first{

}
.steps-item.first:before{
	content: "1";
	width: 25px;
	height: 25px;
	display: flex;
	left: -35px;
	justify-content: center;
	align-items: center;
	background: #cbb677;
	position: absolute;
	font-weight: bold;
}
.steps-item.second{

}
.steps-item.second:before{
	content: "2";
	width: 25px;
	height: 25px;
	display: flex;
	left: -35px;
	justify-content: center;
	align-items: center;
	background: #cbb677;
	position: absolute;
	font-weight: bold;
}
.steps-item.third{

}
.steps-item.third:before{
	content: "3";
	width: 25px;
	height: 25px;
	display: flex;
	left: -35px;
	justify-content: center;
	align-items: center;
	background: #cbb677;
	position: absolute;
	font-weight: bold;
}
.steps-item-brown{
	color: #795928;
}
.steps-item-bold{
	font-weight: bold;
}


.flip-clock-label{
	display: none;
}
.bids-content{
	
	display: flex;
	justify-content: space-between;
}
.clock{
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	width: auto;
	margin-bottom: 40px;
}
.bids-left{
	width: 70%;	
	box-sizing: border-box;		
}
.bids-left-head{
	margin-bottom: 20px;
	font-size: 26px;
	display: block;	
}
.bids-left-head-bold{
	font-weight: bold;
	font-size: 26px;
}
.bids-left-availables-span{
	font-size: 22px;
	font-weight: bold;
}
.bids-left-availables{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f4f0e4;
	padding: 20px;
}
.bids-left-availables-img{
	width: 100%;
	display: block;
}
.bids-left-availables-link{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 49%;   
	position: relative;
	transition: all 0.2s ease-out;	
}
.bids-left-availables-link:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.7);
	transition: all 0.2s ease-out;

}
.bids-left-availables-link-wrap{
	 height: 260px;
	 overflow: hidden;
}
.bids-left-availables-link:hover:before{
	background: rgba(255,255,255,0);
	transition: all 0.2s ease-out;
	width: auto;
	height: auto;
}
.bids-left-availables-link:hover > .bids-left-availables-link-hidden{
	opacity: 1;
	transition: all 0.2s ease-out;
}
.bids-left-availables-link-hidden{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: wrap;	
	z-index: 100;
	bottom: 59px;
	width: 100%;
	left: 0;
	opacity: 0;
	transition: all 0.2s ease-out;

}
.bids-left-availables-link-hidden-wrap{
	width: 98%;
	background: #f4eee0;
	border: 2px solid #cfb777;
	box-sizing: border-box;
	padding: 10px 0;
}
.bids-left-availables-link-hidden-input{
	padding: 7px 10px;
	border-radius: 3px;
	box-sizing: border-box;
	width: 70%;	
	display: block;
	margin: 0px auto 7px;
}
.bids-left-availables-link-hidden-input-active{
	border: 0;
	background: 0;
}
.bids-left-availables-link-hidden-wrap-visible{
	margin-left: 10px;
}
.bids-left-availables-link-hidden-link{
	background: rgb(204,89,6);
	background: linear-gradient(180deg, rgba(204,89,6,1) 0%, rgba(253,184,45,1) 42%, rgba(204,89,6,1) 100%);
	padding: 14px 10px;	
	box-sizing: border-box;
	width: 100%;
	color: #fff;
	text-align: center;
	display: block;	
	margin: 3px auto 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	transition: all 0.2s ease-out;
	text-shadow: 0px 2px 2px #7b3e00;
	letter-spacing: 1px;
}
.bids-left-availables-link-hidden-link:hover{
	text-shadow: 0px 1px 1px #7b3e00;
	transition: all 0.2s ease-out;
	background: rgb(204,89,6);
	background: linear-gradient(180deg, rgba(204,89,6,1) 0%, rgba(253,184,45,1) 64%, rgba(204,89,6,1) 100%);
}
.bids-left-info{
	text-align: center;
	padding: 0px 0 20px;
	background-color: #f4f0e4;
}
.bids-left-people{		
	text-align: center;
	background: #ecdfbc;
	padding: 7px;
	box-sizing: border-box;
}
.bids-left-info-bold{
	font-weight: bold;
}
.bids-left-list-process{
	padding: 20px;
	overflow: hidden;
    height: 100px;
    position: relative;
}
.bids-left-list-process:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 40%;
	bottom: 0;
	left: 0;
	background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.bids-left-list-process-item{
	margin-bottom: 10px;
}
.bids-left-list-process-item:last-child{
	margin-bottom: 0px;
}
.bids-left-list-process-item-bold{
	font-weight: bold;
}
.bids-left-list-process-item-normal{

}

.bids-right{	
	box-sizing: border-box;
	width: 28%;
}
.bids-right-info{
	background: #f2f2f2;
	padding: 20px;
	position: relative;
	height: 450px;
	overflow: auto;
}

.bids-right-info-timer{
	font-size: 14px;	
	margin-bottom: 20px;
}
.bids-right-info-timer-time{
	font-weight: bold;
	font-size: 40px;
	color: #75582c;
	line-height: 40px;
}
.bids-right-info-count,
.bids-right-info-bank{
	margin-bottom: 3px;
	display: block;
	font-size: 20px;
}
.bids-right-info-count-span,
.bids-right-info-bank-span{
	font-size: 20px;
	font-weight: bold;
}
.bids-right-info-list{
	padding: 15px 0;
	
}
.bids-right-info-list-item{
	margin-bottom: 10px;
}
.bids-right-info-list-item-sum{
	display: block;
}
.bids-right-info-max{
	margin-top: 15px;
}

#amount{
	margin-bottom: 60px;
}
.amount-content{
	background-image: url('../img/bg_bottom.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
	box-sizing: border-box;
}
.amount-left{
	width: 64%;
}
.amount-left-item{
	margin-bottom: 15px;
}
.amount-left-item:last-child{
	margin-bottom: 0px;
}
.amount-left-item-bold{
	font-weight: bold;
}
.amount-left-item-red{
	color: #cb0305;
}
.amount-left-item-link{
	text-decoration: underline;
	font-weight: bold;
	color: #000;
}
.amount-left-item-link:hover{
	text-decoration: none;
}
.amount-right{
	width: 29%;
	text-align: center;
}
.amount-right-sum{
	padding: 10px 45px;
	font-size: 25px;
	font-weight: bold;
	display: inline-block;
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 15px;
}
.amount-right-info{
	font-size: 20px;
}

#money{
	padding-bottom: 60px;
}
.money-head{
	font-size: 27px;
	text-align: center;
	margin-bottom: 40px;
	font-family: "OpenSans-Light";
}
.money-icons{
	display: flex;
	justify-content: center;
	align-items: center;
}
.money-icons-text{
	font-size: 24px;
	font-family: "OpenSans-Light";
	margin-right: 44px;
}
.money-icons-icon{
	display: block;
	width: 64px;
	height: 40px;
	background-image: url("../img/icons.png");
	background-repeat: no-repeat;
	background-size: 143px;
	margin-right: 44px;
}
.money-icons-icon.visa{
	background-position: -77px -4px;
}
.money-icons-icon.mastercard{
	background-position: -4px -54px;
}
.money-icons-icon.maestro{
	background-position: -4px -4px;
}
.money-icons-icon.paypal{
	background-position: -75px -54px;
}
.money-icons-icon.switch{
	background-position: -4px -102px;
	margin-right: 0px;
}

footer{
	border-bottom: 5px solid #cfb878;
	position: relative;
}
footer:before{
	content: "";
	position: absolute;
	background-image: url("../img/icons-2.png");
	background-repeat: no-repeat;
    background-position: -46px -3px;
    background-size: 111px;
    bottom: 0;
    left: 0;
	width: 34px;
    height: 24px;
}
footer:after{
	content: "";
	position: absolute;
	background-image: url("../img/icons-2.png");
	background-repeat: no-repeat;
    background-position: -2px -36px;
    background-size: 111px;
    bottom: 0;
    right: 0;
	width: 34px;
    height: 24px;
}
.footer-content{
	padding: 25px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border-top: 3px solid #cfb878;
}
.footer-left{

}
.footer-right{
	font-size: 12px;
}